/*CSS de index.html*/
*{
    margin: 0px;
    padding : 0px;
    font-family: sans-serif; /*A modifier en fonction de la police choisie*/
}

#center {
    margin-left:auto;
    margin-right:auto;
    width:1000px; /*largeur pour une résolution 800*600*/
    }

body{
    background-color: white;
}
nav.principale{
    width: 100%;
    margin: 0 auto;
    background-color: #990abd; /*Couleur à modif*/
    position: sticky;
    top: 0px; 
}

nav  ul{
    list-style-type: none;
}

nav  ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    text-align: center; 
    /* border-width : 2px;
    border-color: black;
    border-style: outset; */
}

nav  ul::after{
    content: "";
    display: table;
    clear: both;
}

nav  a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav  a:hover{
    color: black;
    border-bottom: 2px solid #990abd;
    background-color: rgb(212, 212, 212) ;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px grey;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav  > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
    background-color: rgb(61, 61, 61);
}
.sous a:hover{
    border-bottom: none;
    background-color: grey;
    color : #990abd;
}
.deroulant > a::after{
    content:" ▼ ";
    font-size: 12px;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}

h1{
    margin: 5rem;
    text-align: center;
    font-weight: bold;
    color : black ;
    text-decoration: underline 1.5px;
}

p{
    color : black;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #990abd;
  }

footer p a {
    color : white;
    text-align: center;
    margin: 15rem;
    font-weight: bold;
}
nav.secondaire{
    /* background : white; */
    text-align: justify;
    
}

nav.secondaire h2{
    margin: 1rem;
    padding: 0.5rem;
    font-weight: bold;
    color : black ;
    text-decoration: underline 1.5px;
}

nav.secondaire li{
    padding: 0.0005rem;
    margin:1rem;
}

nav.secondaire h3{
    padding: 0.5rem;
    text-decoration: underline 1.5px;
}

/*Ajout du responsive du site en mode telephone portable / tablette*/

